@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0% {
    background-color: yellow;
  }

  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 1s;
}